<!----
============================================
; Title: error.ejs
; Author: Professor Krasso
; Date: 07 November 2019
; Modified By: joshua Hughes
; Description: error display page view
;=============================================
*/
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
