<!----
============================================
; Title: error.ejs
; Author: Professor Krasso
; Date: 07 November 2019
; Modified By: joshua Hughes
; Description: home page view
;=============================================
*/
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
